.query-output {
    position: absolute;
    bottom: 0;
    left: 25%; /* Start after the left area */
    width: 75%; /* Take up the remaining width */
    height: 300px; /* Adjust the height of the lower space */
    background-color: rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ccc;
}

.tab {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0;
}

.tab-name {
    padding: 10px 20px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    font-weight: bold;
}

.tab-content {
    flex: 1;
    padding: 20px;
    text-align: center;
    overflow-y: auto;
}

.custom-style {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 14px;
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
    border-radius: 5px;
    background-color: #ffffff; /* Set background color to white */
    color: #333;
    overflow-y: auto;
    line-height: 1.4;
    border: 1px solid #e1e4e8;
}