.App {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.schema-explorer {
  width: 25%; /* Left area takes 1/4 of the screen width */
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  padding: 0; /* Remove all padding */
  margin: 0; /* Remove all margin */
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Align items vertically */
  justify-content: flex-start; /* Align content to the top */
  box-sizing: border-box; /* Include padding and border in width */
}

.schema-explorer h3 {
  margin: 50px 10px 10px 10px; /* Add some margin to the heading */
  color: #333;
}

.design-area {
  width: 75%; /* Right area takes 3/4 of the screen width */
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.design-area p {
  width: 75%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 300px); /* Subtract QueryOutput height to prevent overlap */
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: #333;
}